{% extends "FP_Header.html"%}
{% load staticfiles %}
{% block content %}
<!--
Databases Possible:

Web-Tools Possible:


------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------
Databases Used:

Web-Tools Used:





-->
<body>
<center>
<h4>Cell and Molecular</h4>
<h4>
<img src='{% static "imgs/comp.jpg" %}' alt = "comp">


</center>
</body>
<!--Links to databases and tools USED** and Possible -->
{% endblock %}