{% extends "FP_Header.html"%}
{% load staticfiles %}
{% block content %}
<!--
Databases Possible:
NCBI:Pubmed
Dif Journals

Web-Tools Possible:


------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------
Databases Used:

Web-Tools Used:





-->
<body>
<center>
<h4>LGI2</h4>
<img src='{% static "imgs/jelly.jpg" %}' alt = "jelly">

</center>
</body>
<!--Links to databases and tools USED** and Possible -->

{% endblock %}