{% extends "FP_Header.html"%}
{% load staticfiles %}
{% block content %}
<!--
Databases Possible:
NCBI: Protein
Cath
SCOP
UniProt
SwissProt
Blastx
PSIBLAST
Protein Data Bank (PDB)
Web-Tools Possible:
ClustalOmega
Muscle


------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------
Databases Used:

Web-Tools Used:




I am going to need to do the alignments of the protein sequences
-->
<body>
<center>
<h4>LGI2</h4>
<img src='{% static "imgs/star.jpg" %}' alt = "star">

</center>
</body>
<!--Links to databases and tools USED** and Possible -->

{% endblock %}